{% extends "layout.html" %}

{% block title %}
    Buy
{% endblock %}

{% block main %}
    <form action="/buy" method="post">
        <div>
            <h2 class="title">Buy</h2>
            <input autocomplete="off" autofocus class="form-control mx-auto w-auto" name="symbol" placeholder="Symbol" type="text">
            <input autocomplete="off" autofocus class="form-control mx-auto w-auto" name="shares" placeholder="Shares" type="text" min="1" max="31" >
            <button class="btn btn-primary" type="submit">Buy</button>
        </div>
    </form>
{% endblock %}
